.input-a {
    color: var(--primary);
    text-decoration: none;
}

.img {
    width: 100%;
}

.font-sm {
    font-size:12px;
}

.font-m {
    font-size:14px;
}

.gray-text {
    color: gray;
}

.img-team {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;                          
}

.affiliation {
    word-wrap: break-word;
    white-space: normal;
}

.logo-link {
    display: inline-block;
    width: fit-content;
}

.logo-link img {
    display: block;
}

/* Optional logo sizing */
.mrc-logo,
.bohvm-logo,
.wellcome-logo {
    max-width: 60%;
    height: auto;
}