.table-font-12 {
    font-size:12px;
}

.table-width-50 {
    width:50%;
}

.th-sub-header {
    font-weight: normal;
}

.th-subtext {
  font-weight: normal;
  font-size: 0.75rem;
  color: #666;
  margin-top: 4px;
}

.tr-active > td:first-child {
    background-color: rgb(139, 0, 0, 0.6);
}
